## List

* List is nothing but collection of different types of data like array in c language
* List represented by '[]' braces
* List is a Mutable data type

In [1]:
l=[]
type(l),l

(list, [])

In [4]:
l=[1,2,"hello",3.4,True,[1,2,3]]
l

[1, 2, 'hello', 3.4, True, [1, 2, 3]]

## Indexing in list

In [5]:
l[0]

1

In [6]:
l[-1]

[1, 2, 3]

In [7]:
l[-2]

True

In [8]:
l[3]

3.4

In [9]:
l[-1][1]

2

## List slicing

In [10]:
l

[1, 2, 'hello', 3.4, True, [1, 2, 3]]

In [11]:
l[2:4]

['hello', 3.4]

In [12]:
l[-2:]

[True, [1, 2, 3]]

In [13]:
l[::-1]

[[1, 2, 3], True, 3.4, 'hello', 2, 1]

In [14]:
l

[1, 2, 'hello', 3.4, True, [1, 2, 3]]

In [15]:
l[-1][::-1]

[3, 2, 1]

In [16]:
l[::2]

[1, 'hello', True]

In [20]:
l[0]=10
l

[10, 2, 'hello', 3.4, True, [1, 2, 3]]

In [22]:
del l[0]
l

['hello', 3.4, True, [1, 2, 3]]

In [23]:
l[1]=9
l

['hello', 9, True, [1, 2, 3]]

In [24]:
del l[1] #for removing 
l

['hello', True, [1, 2, 3]]

In [25]:
len(l) #to check the status

3

In [26]:
marks=[1,2,3,4,5,6,7]
marks

[1, 2, 3, 4, 5, 6, 7]

In [27]:
sum(marks)

28

In [28]:
sorted(marks)

[1, 2, 3, 4, 5, 6, 7]

In [29]:
marks=[5,4,9,2,7,3]
marks

[5, 4, 9, 2, 7, 3]

In [30]:
sum(marks) #sum of marks

30

In [31]:
sorted(marks) #descending order

[2, 3, 4, 5, 7, 9]

In [33]:
sorted(marks,reverse=True) #ascending order

[9, 7, 5, 4, 3, 2]

In [34]:
sum(marks)//len(marks) #number of persons marks in the list

5

In [35]:
marks+[10,20] #for adding the additional members marks in the list

[5, 4, 9, 2, 7, 3, 10, 20]

In [36]:
marks*2

[5, 4, 9, 2, 7, 3, 5, 4, 9, 2, 7, 3]

## List Methods

In [37]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
## Append method is used the multiple elements at a time in the list

In [38]:
marks.append(10)

In [39]:
marks

[5, 4, 9, 2, 7, 3, 10]

In [40]:
marks.extend([20,30]) #for adding of additional marks

In [41]:
marks

[5, 4, 9, 2, 7, 3, 10, 20, 30]

In [42]:
marks.pop() #using to delete the last item from the list

30

In [43]:
marks

[5, 4, 9, 2, 7, 3, 10, 20]

In [44]:
marks.pop(0) #using to delete the item at particular position

5

In [45]:
marks.pop(4)

3

In [46]:
marks

[4, 9, 2, 7, 10, 20]

In [47]:
marks.insert(0,10) #inserting the marks at first

In [48]:
marks

[10, 4, 9, 2, 7, 10, 20]

In [49]:
marks.index(7)

4

In [54]:
marks.reverse() #Reversing the entire list

In [55]:
marks

[20, 10, 7, 2, 9, 4, 10]

In [56]:
marks.sort()
marks

[2, 4, 7, 9, 10, 10, 20]

In [57]:
marks.count(10)

2

In [58]:
marks.count(-1)

0

In [60]:
marks2= marks.copy() # copying the list
marks2,marks

([2, 4, 7, 9, 10, 10, 20], [2, 4, 7, 9, 10, 10, 20])

In [61]:
marks2.clear() #clearing the list
marks2,marks

([], [2, 4, 7, 9, 10, 10, 20])

In [62]:
for item in marks: 
    print(marks)

[2, 4, 7, 9, 10, 10, 20]
[2, 4, 7, 9, 10, 10, 20]
[2, 4, 7, 9, 10, 10, 20]
[2, 4, 7, 9, 10, 10, 20]
[2, 4, 7, 9, 10, 10, 20]
[2, 4, 7, 9, 10, 10, 20]
[2, 4, 7, 9, 10, 10, 20]

In [64]:
for item in marks:   #print the marks
    print(item)

2
4
7
9
10
10
20

In [67]:
index = 0       #using while loop print the marks
while index<len(marks):
    print(marks[index])
    index += 1

2
4
7
9
10
10
20

### print sum of marks by using while loop

In [76]:
index=0
sum=0
while index<len(marks):
    print(marks[index])
    sum=sum+marks[index]
    index+=1
print("\nsum=",sum)

2
4
7
9
10
10
20

sum= 62

In [88]:
#Task1:print the name which names end with 'u' character
#Sample output:sreenu,vishnu,ravi
names="sreenu vinodh rahul vishnu ravi"
names_list=names.split(" ")
for name in names_list:
    if name.endswith('u'):
        print(name,end=" ")

sreenu vishnu

In [ ]:
#Task2:print names which length has maximum
#Sample output:mahesh
names="sreenu vinodh rahul vishnu ravi"

In [99]:
#Task3:print the names which ends vowels(a,e,i,o,u)
#Sample output:ravi raghu balu
names="sreenu vinodh rahul vishnu ravi"
names_list=names.split(" ")
for name in names_list:
    if name.endswith('a'):
        print(name,end=" ")
elif(if name.endswith('e')):
        print(name,end=" ")
elif(if name.endswith('i')):
        print(name,end=" ")
elif(if name.endswith('o)):
        print(name,end=" ")
elif(if name.endswith('u')):
        print(name,end=" ")

SyntaxError: invalid syntax (<ipython-input-99-44b9bc05f33d>, line 8)

## tuple

* tuple is immutable data type in python
* it is also like list but it can't change once created
* it is represented by ( (paranthesis) symbol

In [101]:
t=tuple()
t

()

In [102]:
ages=(20,21,22)
ages

(20, 21, 22)

## indexing in tuple

## tuple methods

In [111]:
ages.index(21)

1

In [112]:
ages.index(22)

2

In [105]:
ages.index(20)

0

In [113]:
ages.count(21)

1

In [106]:
ages.count(20)

1

In [114]:
ages.count(22)

1

In [107]:
ages

(20, 21, 22)

In [108]:
a,b,c=ages

In [109]:
print(a,b,c)

20 21 22

In [110]:
x=1,2,3
x,type(x)

((1, 2, 3), tuple)

In [115]:
for item in ages:
    print(item)

20
21
22

In [116]:
for item in ages[::-1]:
    print(item)

22
21
20

In [154]:
Input Format:abc cab
output Format:YES 
a=input()
b=input()
l1=len(a)
l2=len(b)
count=0
    if(l1===l2)
    for in range(0,l1)
        key a[i]
    for  in range(0,l2)
        key b[j]       
if len(a)=len(b):
    print("YES")
else
    print"NO")

SyntaxError: invalid syntax (<ipython-input-154-0e05ec6a5dc3>, line 1)

## set

In [120]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [119]:
s=1,2,3
s,type(s)

((1, 2, 3), tuple)

In [143]:
len(s)

3

In [123]:
s

(1, 2, 3)

In [144]:
max(s)

3

In [145]:
min(s)

1

In [149]:
s

(1, 2, 3)

In [146]:
l=[1,2,4,1,3,5,5]
set(l),l

({1, 2, 3, 4, 5}, [1, 2, 4, 1, 3, 5, 5])

In [127]:
a={1,2,3,4}
b={3,4,5,6}
a.union(b)

{1, 2, 3, 4, 5, 6}

In [128]:
a.intersection(b)

{3, 4}

In [129]:
a.difference(b)

{1, 2}

In [130]:
b.difference(a)

{5, 6}

In [132]:
a,b

({1, 2, 3, 4}, {3, 4, 5, 6})

In [135]:
a.difference_update(b)
a,b

({1, 2}, {3, 4, 5, 6})

In [137]:
c={1}
c

{1}

In [138]:
c.issubset(a),b,c

(True, {3, 4, 5, 6}, {1})

In [139]:
c.issubset(a),a,c

(True, {1, 2}, {1})

In [141]:
a.isdisjoint(c)

False

In [142]:
a.issuperset(c)

True

In [ ]:
names="mahesh ravi balu krish akash raghu"
# print the names which has duplicate characters
output:mahesh akash

In [ ]:
names_list=names.split(" ")
for name in names_list:
l=len(name)
    if key[ai]